body {
  width: 100%;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

.header {
  background-color: #ffffff;
}

.header .header-box-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.header .header-box-pc h1 {
  font-size: 30px;
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background-color: #918e8e;
  margin: 10px 0;
}

.header .header-box-pc h1:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}

.header .header-box-pc .header-menu {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-box-sp {
  display: none;
}

@media only screen and (max-width: 767px) {
  .header .header-box-pc {
    display: none;
  }
  .header .header-box-sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header-box-sp h1 {
    padding: 10px 2px 12px;
    margin-left: 10px;
  }
  .header .header-menu {
    display: none;
  }
  .header .header-menu p {
    text-align: center;
    padding: 10px 0;
    border-top: 1px dotted #918e8e;
    background: rgba(27, 27, 27, 0.2);
  }
  .header .header-menu .inquiry {
    border-bottom: 1px dotted #918e8e;
  }
  .header #gNav.open {
    right: 0px;
  }
  .header .btn-gNav {
    width: 30px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
    position: relative;
    z-index: 100;
    cursor: pointer;
  }
  .header .btn-gNav span {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    height: 4px;
    background: #050505;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  .header .btn-gNav span:nth-child(1) {
    top: 0;
  }
  .header .btn-gNav span:nth-child(2) {
    top: 10px;
  }
  .header .btn-gNav span:nth-child(3) {
    top: 20px;
  }
  .header .btn-gNav #gNav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

.fv {
  background-image: url(./img/photo0000-3900.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
  margin-bottom: 100px;
}

.fv .fv-title {
  background-color: #ffffff;
  opacity: 0.7;
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 30px 0;
  font-size: 50px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.profile-main {
  width: 53%;
  min-width: 600px;
  margin: 0 auto 100px;
}

.profile-main .profile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-main .profile-box .my-img img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.profile-main .profile-box .my-txt {
  margin-left: 30px;
}

.profile-main .profile-box .my-txt p {
  margin-bottom: 20px;
  line-height: 1.5;
}

#service-main {
  width: 53%;
  min-width: 600px;
  margin: 0 auto 100px;
}

#service-main section h2 {
  text-align: center;
  font-size: 24px;
}

#service-main .service-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#service-main .service-area .service-box .service-title {
  font-size: 30px;
}

#service-main .service-area .service-box p {
  width: 350px;
  text-align: center;
}

#service-main .service-area .service-box p img {
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

#service-main .service-area .service-box .service-box-txt {
  margin-bottom: 20px;
}

#service-main p {
  margin-top: 30px;
  text-align: center;
}

#skill-main {
  width: 53%;
  min-width: 600px;
  margin: 0 auto 100px;
}

#skill-main #wrap {
  padding: 50px 0;
}

#skill-main #slider {
  width: 400px;
  height: 100px;
  margin: 0 auto;
}

#skill-main #slider li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  line-height: 100px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

#skill-main #slider li img {
  width: 130px;
}

#sns {
  width: 53%;
  min-width: 600px;
  margin: 0 auto 100px;
}

#sns .sns-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sns .sns-box a {
  display: block;
  text-align: center;
  margin-right: 20px;
}

#sns .sns-box a img {
  width: 30px;
}

#sns .sns-box .email .email-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sns .sns-box .email .email-title img {
  width: 30px;
  margin-right: 15px;
}

.footer {
  padding: 40px 0;
  background: #918e8e;
}

.footer .footer-menu {
  width: 40%;
  margin: 0 auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-copy {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */