body{
    width: 100%;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.header{
    background-color: aqua;
    .header-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        
        h1{
            font-size: 40px;
        }
        .header-menu{
            width: 25%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.fv{
    background-image: url(./img/photo0000-3900.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    .fv-title{
        background-color: rgb(143, 121, 50);
        text-align: center;
    }
}
